<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
  <h1>ADD MOVIE</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
 <div class=" container mb-3">
  <label  class="form-label">Name</label>
  <input type="text" class="form-control" name="n" placeholder="Enter Name">
</div>
<div class= " container mb-3">
  <label  class="form-label">Desc</label>
  <input type="text" class="form-control" name="d" placeholder="Enter Description">
</div>
<div class=" container mb-3">
  <label  class="form-label">Year</label>
  <input type="text" class="form-control" name="y" placeholder="Enter Year">
</div>

    <div class=" container mb-3">
  <label  class="form-label">Image</label>
  <input type="file" class="form-control" name="i" >
</div>
<div class="mb-3">
  <button type="submit" class="btn btn-primary mb-3">Submit</button>
</div>
  </form>
    </center>
{% endblock %}